@import "tailwindcss";

body {
  //background-color: white;
  //font-family: 'Arial', sans-serif;
}

@theme {
  --color-first: #000000;
  --color-sec: #320A6B; 
  --color-third: #065084;
  --color-forth: #0F828C;
  --color-fifth: #78B9B5;
}

@layer base {
  h3 {
    @apply text-base font-medium text-forth;
  }
 
}

@layer components {
  .card {
    @apply m-10 rounded-lg bg-third px-6 py-8 shadow-xl ring-1 ring-forth;
  }
  .header {
    @apply w-full h-15 bg-white;
  }
  .hero {
    @apply relative w-full h-250 overflow-hidden
  }
}

@utility flex-header {
  @apply flex flex-row justify-between items-center;
}

 
